<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			#mod{
				height: 300px;
				width: 500px;
				background-color: lightgray;
				position: absolute;
				margin: auto;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="search" placeholder="卡号"/>
			<ul>
				<li v-for="item in searchList" :key='item.id'>
					{{item.cardId}}----{{item.money}}--<button @click='del(item.id)'>删除</button>---<button @click='update(item.id)'>修改</button>
				</li>
			</ul>
			<input type="text" v-model="addForm.id" placeholder="id"/></br>
			<input type="text" v-model="addForm.cardId" placeholder="卡号"/></br>
			<input type="text" v-model="addForm.pwd" placeholder="密码"/></br>
			<input type="text" v-model="addForm.money" placeholder="金额"/></br>
			<button @click="add">添加</button>
			
			<div id="mod" v-show="isShow">
				<input type="text" v-model="upform.id"/></br>
				<input type="text" v-model="upform.cardId"/></br>
				<input type="text" v-model="upform.pwd"/></br>
				<input type="text" v-model="upform.money"/></br>
				<button @click="sure">更新</button>
			</div>
		</div>
		<script src="js/vue.js"></script>
		<script type="text/javascript">
			var vm=new Vue({
				el:'#app',
				data:{
					search:'',
					list:[
							{id: 1, cardId: "6225880287860549", pwd: "909090", money: 9000},
							{id: 2, cardId: "6225880287862345", pwd: "666666", money: 100},
							{id: 3, cardId: "6225880287861234", pwd: "888888", money: 5000},
							{id: 4, cardId: "6225880287860549", pwd: "909090", money: 9000},
							{id: 5, cardId: "6225880287862345", pwd: "666666", money: 100},
							{id: 6, cardId: "6225880287861234", pwd: "888888", money: 5000},
							{id: 7, cardId: "6225880287860549", pwd: "909090", money: 9000},
							{id: 8, cardId: "6225880287862345", pwd: "666666", money: 100},
							{id: 9, cardId: "6225880287861234", pwd: "888888", money: 5000}
						],
						addForm:{
							id:'',
							cardId:'',
							pwd:'',
							money:''
						},
						isShow:false,
						upform:{
							id:'',
							cardId:'',
							pwd:'',
							money:''
						}
				},
				computed:{
					searchList:function(){
						return this.list.filter((item)=>{
							return item.cardId.indexOf(this.search)>=0
						})
						// var arr=[]
						// for(var i=0;i<this.list.length;i++){
						// 	if(this.list[i].cardId.indexOf(this.search)>=0){
						// 		arr.push(this.list[i]);
						// 	}
						// }
						// return arr;
					}
				},
				methods:{
					del:function(id){
						for(var i=0;i<this.list.length;i++){
							if(id==this.list[i].id){
								this.list.splice(i,1);
								break;
							}
						}
					},
					add:function(){
						var obj={...this.addForm};
						this.list.push(obj);
						this.addForm.id='';
						this.addForm.cardId='';
						this.addForm.pwd='';
						this.addForm.money=''
					},
					update:function(id){
						this.isShow=true;
						for(var i=0;i<this.list.length;i++){
							if(id==this.list[i].id){
								this.upform.id=this.list[i].id;
								this.upform.cardId=this.list[i].cardId;
								this.upform.pwd=this.list[i].pwd;
								this.upform.money=this.list[i].money;
							}
						}
					},
					sure:function(){
						for(var i=0;i<this.list.length;i++){
							if(this.list[i].id==this.upform.id){
								this.list[i].id=this.upform.id;
								this.list[i].cardId=this.upform.cardId;
								this.list[i].pwd=this.upform.pwd;
								this.list[i].money=this.upform.money;
								break;
							}
						}
						this.isShow=false;
					}
				}
			})
		</script>
	</body>
</html>
