<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="searchValue" placeholder="根据名字筛选" />
        <ul>
            <li v-for="movie in searchName" :key="movie.id">
                {{movie.name}}-{{movie.money}}-<button @click="del(movie.id)">删除</button>
            </li>
        </ul>
        <input type="text" v-model="newMovie.id" placeholder="id"><br>
        <input type="text" v-model="newMovie.name" placeholder="name"><br>
        <input type="text" v-model="newMovie.money" placeholder="money">
        <button @click="add">添加</button>

    </div>

    <script src="../JS/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                movies: [
                { id: 1, name: "6225880287860549", money: 9000 },
                    { id: 2, name: "6225880287862345", money: 100 },
                    { id: 3, name: "6225880287861234", money: 5000 },
                    { id: 4, name: "6225880287860549",  money: 9000 },
                    { id: 5, name: "6225880287862345",  money: 100 },
                    { id: 6, name: "6225880287861234",  money: 5000 },
                    { id: 7, name: "6225880287860549", money: 9000 },
                    { id: 8, name: "6225880287862345",money: 100 },
                    { id: 9, name: "6225880287861234",  money: 5000 }
            ],
                searchValue: '',
                newMovie: {
                    id: '',
                    name: '',
                    money: ''
                }
            },
            computed: {
                searchName() {
                    return this.movies.filter(movie => movie.name.indexOf(this.searchValue) >= 0)
                }
            },
            methods: {
                del(id) {
                    let { movies } = this;
                    for (let i = 0; i < movies.length; i++) {
                        if (id == movies[i].id) {
                            movies.splice(i, 1);
                            break;
                        }
                    }
                },
                add() {
                    let { newMovie, movies } = this;
                    newMovie.id = +newMovie.id;
                    let tempObj = JSON.parse(JSON.stringify(newMovie));
                    movies.push(tempObj);
                    newMovie.id = '';
                    newMovie.name = '';
                    newMovie.money = '';
                }
            }
        })
    </script>
</body>

</html>
